.smallAddBtn {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-1);
    color: var(--main-white);
    width: 32px;
    height: 32px;
    background-color: var(--main-blue); */
}