.boardList {
    min-width: 243px;
    max-width: 243px;
    margin-right: 40px;
    /* border: 1px solid red; */
}

.boardList__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.boardList--title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-1);
    
}