.card {
    background-color: var(--main-white);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: var(--radius-2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.card__img {
    width: 100%;
}
.card__img > img {
    width: 100%;
    border-radius: var(--radius-2);
    margin-bottom: 10px;
}
.card__title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card__labels {
    margin: 10px 0;
}
.card__bottom {
    justify-content: space-between;
}
.card__commentAndAttachment, .card__bottom, .card__comment, .card__attachment {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card__attachment > p, .card__comment > p {
    font-family: Noto Sans;
    color: var(--gray-4);
    font-size: 10px;
}
.card__attachment {
    padding-left: 10px;
}
.card__attachment > p, .card__comment > p {
    padding-left: 5px;
}