.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #fff;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.header--logo {
    margin-right: 90px;
    cursor: pointer;
}
.header__left {
    display: flex;
}
.header--boardInfo {
    display: flex;
    align-items: center;
}
.header--boardInfo_Title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: var(--gray-1);
    border-right: 1px solid var(--gray-4);
    padding-right: 20px;
    margin-right: 20px;
}
/* .header--boardInfo_btn {
    display: flex;
    align-items: center;
    background-color: var(--gray-bg-1);
    padding: 4px 8px;
    border-radius: var(--radius-1);
    cursor: pointer;
} */
/* .header--boardInfo_btn:hover {
    transition: all 0.3s;
    background-color: #e6e6e6;
} */
/* .header--boardInfo_btn > h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    font-family: poppins;
    color: var(--gray-3);
} */
.header__right{
    display: flex;
    align-items: center;
}
.header--search {
    display: flex;
    align-items: center;
    background-color: var(--main-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 3px;
    margin-right: 30px;
    border-radius: var(--radius-1);
}
.header--search_input {
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-left: 10px;
    margin-right: 5px;
    outline: none;
}
.header--search_btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    background-color: var(--main-blue);
    color: var(--main-white);
    padding: 8px 20px;
    border: none;
    border-radius: var(--radius-1);
    cursor: pointer;
}
.header--userInfo {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: var(--radius-1);

}
.header--userInfo:hover {
    transition: all 0.3s;
    background-color: var(--gray-bg-1);
    cursor: pointer;
}

.header--userInfo_name {
    font-family: Noto Sans;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
}
